{% extends 'base.html' %}
{% block page_title %}Watch - GTD & Pomodoro on your wrist{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/gsdfaster_apple_watch-800x510.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>Watch - GTD & Pomodoro on your wrist</h1>
        <p>
          <blockquote>
            What's faster than typing? Voice. Now you can dictate your notes using voice like Dick Tracy.
          </blockquote>
        </p>
      </div>
      
      <div class="row">
        <p>GSDfaster is now available on your Apple Watch. GSDfaster is a Premium Productivity tool with your privacy in mind to getting stuff done faster and stress-free. GSDfaster empowers you to offload your ideas and stuff into a trusted source.</p>

        <p class="text-center"><img src="/media/blog/031015_AppleWatchTracy_COLOR-300x226.jpg"></p>

        <h2>Dictate your notes using voice</h2>

        <p>Typing notes, ideas, todos et al is so yesterday. Now you can talk to your Apple Watch and record th031015_AppleWatchTracy_COLORose urgent ideas without even reaching for your phone to do it. Lift the phone, speak it and keep on going. Yap it’s that easy. A bit like Dick Tracy right.</p>

        <p class="text-center"><img src="/media/blog/apple-watch-screenshots.png" width="80%"></p>
      </div>

      <div class="row">
        

        <h2>Your new superpowers</h2>

        <h3>1. Hyperthymesia</h3>

        <p>Possessing an extremely detailed autobiographical memory. Never forget a thing ever again! GSDfaster allows you to quick dump thoughts, ideas and todos into a trusted source. With new infinity save you can do this faster than before.</p>

        <h3>2. Productivity</h3>

        <p>Always be on top of your game! People will want to know your secrets. You will be a productivity guru. With Calendar integration you will always be where you need to be and have stuff done.</p>

        <p class="text-center"><a class="watchaware_demo" title="Apple WATCH App Demo from WatchAware" href="https://watchaware.com/watch-apps" data-set="488633128/110/10102/1/1/2/2"><img src="https://s3.amazonaws.com/mediakit-images/app-assets/488633128/19652465/488633128-19652465-embed-42alu-sport-blue.jpg" alt="" /></a><script src="https://cdn.embed.v3.couch.watchaware.com/v3/assets/js/watchaware-demo-embed.js" async=""></script></p>
      </div>

      <div class="row">
        <p>
          <pre>Watch 2.0 Support Available in GSDfaster app version <a href="/blog/get-app-version/">app version</a> 1.6.3+</pre>
        </p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/get-app-version/">&#10094; What GSDfaster app version are you running?</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/your-new-superpowers/">Your NEW Superpowers &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-3.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}