{% extends 'base.html' %}
{% block page_title %}Thank You loyal Customers! Customer Testimonials{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/5start-img.png');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>Thank You loyal Customers! Customer Testimonials</h1>
        <p>
          <blockquote>
            <p>Want to leave a comment or rating for GSDfaster? Then head over to iTunes, search for GSDfaster and click on Reviews.</p>
          </blockquote>
        </p>
      </div>

      <div class="row">
        <p>I love reading customer testimonials on iTunes for the app I hand built. Writing code is not like the celebrity lifestyle portrayed in the media or the fun <a href="http://www.hbo.com/silicon-valley">tv series Silicon Valley</a>. It takes time, and more time and many curse words later something works lol.. So being able to break away from it and read all the positive customer reviews is like a shot of energy for the soul. So I decided to hand pick a few customer testimonials from between December 2015 and January 2016 and share them with you.</p>

        <p>I love reading customer testimonials. They give me strength and energy to continue supporting GSDfaster. Knowing that someone else apart from me is finding value in the software I built is the strongest form of giving. And doesn’t cost much to provide feedback and acknowledge good work. Just a few minutes to rate the app on iTunes. Thank you to these amazing users of GSDfaster for taking the time to evaluate and support GSDfaster.</p>

        <p>If you like what you read here and want to see the app for yourself, then please head over to iTunes and download the app.  It is cheaper than your morning coffee. But the value you will gain from this app will surpass what any coffee or hamburger will give you.</p>

        <p class="text-center">
          <a href="{{ urls_dict.app_itunes }}" target="_blank">
            <img class="button-appstore" src="/media/images/app-store-black-on-color.png" width="200">
          </a>
        </p>
      </div>

      <div class="row">
        <h2>Hand picked customer testimonials</h2>
        <h3>FROM BETWEEN DEC 2015 AND JAN 2016</h3>

<p>
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/wWBSs1kw11g/">Awesome thoughtful app w simple interface</a>
<br />What can you say other then I have tried everything and this is the best. If you follow the instructions it will humble you
<br />
<br />my self-esteem and testosterone went through the roof. Individual results may vary, not tested on animals
<br />
<br /><span style="color: #808080;">by Smittykendrew via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/tqbQWe3yHIA/">Organized my life</a>
<br />If you do GTD you need this app. Period. Don't try n retro fit some other app. This is the one to use!
<br />
<br /><span style="color: #808080;">by MarketingDirector via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/8ENK9uOoRN4/">Very nice!</a>
<br />I write very few reviews for apps. I either need to be completely in love with an app or completely annoyed with it - and enough so that I feel it's worth opening my mouth.
<br />
<br />This app is fantastic. You can tell it's a labor of love and used by its creator - not just an app to make a few bucks on. Even some of the settings have links to explain the dev's thought process and the pros and cons of using them.
<br />
<br />I have tried *many* task apps. Everything from Omnifocus to Wunderlist and dozens in between. All of them had failings. Either too involved or too simple. Data entry was too cumbersome or my data was locked into the app. Privacy was out the window or there was no syncing at all.
<br />
<br />This app covers a lot of bases without becoming a mess. It stays out of your way and let's you actually get things done without dedicating hours to your list or having to spend time with tutorials. Everything is intuitive.
<br />
<br />Honestly, the only thing I would ask for is some kind of desktop or web based client. That's honestly (for my use) not even a huge issue as my phone is always near by and data entry is just as quick on the phone as it would be from a keyboard.
<br />
<br />Well done and looking forward to future updates.
<br />
<br /><span style="color: #808080;">by Nonproductive via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/jRdAS2bCzL4/">Perfection</a>
<br />I love that writing a note is only one touch away.
<br />
<br /><span style="color: #808080;">by teaforthecat via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/3Y4PUOzAVQA/">Very satisfied</a>
<br />One of few truly usable GTD apps! Simply does what it has to do, no complicated fancy stuff, no questions or manuals required! Really love to keep my head clear and tasks organized with this small helper!
<br />
<br /><span style="color: #808080;">by _ig0r_ via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/9ZK8TUEiAgs/">Better than the powerball !!!</a>
<br />This app makes me feel better about myself &amp; raises my self esteem. If you don't use this, you don't like yourself
<br />
<br /><span style="color: #808080;">by Smittykendrew via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/Ux6HNYkG2lw/">The Best To Do App</a>
<br />I have tried over 22 To Do apps and this is the only one that is easy, syncs with my Outlook account. I feel more control of my day because the app facilitates organization that is simple, effective, and allows for enterprise synchronization.
<br />
<br /><span style="color: #808080;">by Saljm via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/ecH_0VsUKh8/">Only App that works</a>
<br />I've tried many reminder apps, even using post it notes in real life... but nothing has worked like this. Highly recommend this app, especially for anyone with Adhd/add/bad memory
<br />
<br /><span style="color: #808080;">by Codie2eisae via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/QKXYiargdpk/">Awesome!</a>
<br />Been using this thing for months now. Clean and smooth ui. Easy to understand and use! Check it out!
<br />
<br /><span style="color: #808080;">by Reprockless1581 via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/4gnzJHTrGXU/">Great app for managing fly-in-your-face action items</a>
<br />This app is very simple, yet it enables the management of a wide array of actionable items with ease. Quickly capture thoughts, not worrying about where they fit into the priority stack, until you have time to do that exercise properly. The developer is very responsive, and has put together a gem of an app.
<br />
<br /><span style="color: #808080;">by Trunksi3 via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/K1QBXrJfX6M/">Use it every day</a>
<br />I really love this app. It's simple enough to use but flexible enough to keep my tasks organized well. I'm getting stuff done faster!
<br />
<br /><span style="color: #808080;">by M&amp;M341 via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/A9-ZB70IGis/">What an App!</a>
<br />This app makes me feel better about myself &amp; raises my self esteem. If you don't use this you don't like yourself
<br />
<br /><span style="color: #808080;">by Smittykendrew via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/1jTHi8VEWzA/">Best I've found, and I've tried many</a>
<br />Including really premium GTD apps. Please add charts to buckets to visualize the state of things to do in each bucket.
<br />
<br /><span style="color: #808080;">by Ashley D. lavalle via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/vd4mEfoAO_k/">Now this is a GTD method app</a>
<br />Too many apps today claim to be GTD but fail to live up to expectations. GSDfaster is the only app which I have found to live up to expectation and over deliver. Really digging the buckets and prioritization of notes using Dwight Eisenhower's urgency-importance decision matrix. Keep up the awesome work folks!
<br />
<br /><span style="color: #808080;">by Harris Gillispie via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/bp9RyLFsbPI/">Awesome thoughtful app w simple interface</a>
<br />What can you say other then I have tried everything and this is the best. If you follow the instructions it will humble you
<br />
<br />Can't wait till the update that will allow sync between iPhone and iPad
<br />
<br /><span style="color: #808080;">by Smittykendrew via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/N67qOfk361Y/">Great design &amp; well executed</a>
<br />Simple and elegant like all apps should be. Love my GSDfaster app :)
<br />
<br /><span style="color: #808080;">by Belden632 via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/PUSfE-UOZRc/">Great app; I love this app!</a>
<br />Works as advertised. Bulletproof GTD app!
<br />
<br /><span style="color: #808080;">by Lakers632. via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/jUPax4TeawM/">BEST TO DO APP EVER</a>
<br />This is the most awesome to do app ever invented and this is coming from someone who loves to do apps. It is also nice to be able to switch things into different folders and easily move things around. You also have multiple lists so you can stay very organized and if you mess up you can just move it from one place to another. It's also super easy to delete tasks. I love it!!!
<br />
<br /><span style="color: #808080;">by Po6dee2ahk via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/T3hBHghxmVw/">Still my favorite to do app</a>
<br />I oscillate with adhd but the pendulum always swings back to GSDfaster. My fav app! Now lives in my home screen.
<br />
<br /><span style="color: #808080;">by John V. Valdez via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/yl1P2-amUiQ/">Works well</a>
<br />I have always had a problem trying to work from a paper to do list. With this todo lists app it's simplified and centralized. Brilliant!
<br />
<br /><span style="color: #808080;">by HelenA539 via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/78i3pnM3ZDE/">GTD and Pomodoro fusion!</a>
<br />it's a match made in heaven. You organize your stuff todo and then you do them with the help of the pomodoro technique to focus. Brilliant fusion of brain tools!!
<br />
<br /><span style="color: #808080;">by Clura.Hankl81 via the App Store</span>
<br />
<br />★★★★★
<br /><a href="https://launchkit.io/reviews/gNl34YNW9IY/">Great app, crisp UI</a>
<br />Great, lots of good features for free! Brilliant across platforms.
<br />
<br /><span style="color: #808080;">by Rozer-6y via the App Store</span>
</p>

        <p>Like what you read here? Give the app a test drive and let me know what you think.</p>
        
        <p>My mission is to make the best GTD app out there. Best is relative but in my context it means an app that the majority of users trust and can rely on to offload their thoughts for later processing to get things done faster.</p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/gsdfaster-vs-gtdfaster/">&#10094; GSDfaster or GTDfaster?</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/apple-watch-gtd-pomodoro/">What GSDfaster app version are you running? &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-3.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}