{% extends 'base.html' %}
{% block page_title %}Dwight Eisenhower's Urgency-Importance Decision Matrix{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/dwight-eisenhower-1940x900_34237.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>Dwight Eisenhower's Urgency-Importance Decision Matrix</h1>
        <p>
          <blockquote>
            <p>“What is important is seldom urgent and what is urgent is seldom important.”</p>
            <footer>Dwight D. Eisenhower</footer>
          </blockquote>
        </p>
      </div>
      
      <div class="row">
        <p>One of my pet peeves in software development world is “everything is urgent”. From a decade of industry experience in software engineering & management, I lost count how many times I have heard this. What experience has taught me, is that ignorant individuals lacking experience refer to every piece of work as urgent. This sort of narcissistic behavior has a nasty way of infecting the rest of the team raising tension and reactive behaviors. The end story is the same, a counter productive environment that destructively ends teams. Yap, something we want to avoid at all cost. Read on.</p>

        <p>Since we all know that Energy is a finite resource it is important to practice this common wisdom, versus ignoring the facts. Therefore, use the energy you have daily wisely to full potential. Get a good understanding of the tasks ahead and their true significance and value to accurately label their importance and urgency. If you do, then I am confident will achieve clarity and energy expense on what truly matters and yields results.</p>
      </div>

      <div class="row">
        <h2>Dwight D. Eisenhower coined this major insight about Productivity</h2>

        <p>
          <blockquote>
            <p>“What is important is seldom urgent and what is urgent is seldom important.”</p>
            <footer>Dwight D. Eisenhower</footer>
          </blockquote>
        </p>
        
        <p>Eisenhower was a five-star general, commander of Allied Forces in Europe during WWII, and the 34th President of the United States. A well accomplished man.</p>

        <p>Sam Altman (Combinator President) crystalizes the importance in doing the “right work” really well in a blog post <a href="http://blog.samaltman.com/value-is-created-by-doing">Value is Created by Doing</a>. Sam says that “A lot of stuff feels like work—commenting on HN, tweeting, reading about other companies’ funding rounds, grabbing coffee, etc —is not actually work.”. People who think this is work are blindly fooling themselves into believing they are being productive. Same people will also never use any tools to measure their productivity because truth hurts and hiding the truth is comforting to the ego.</p>
      </div>

      <div class="row">
        <h2>The Urgent vs Important concept</h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <th width="50%">Urgent</th>
              <th width="50%">Important</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><em>“Demands your attention right now.”</em><</td>
              <td><em>“Contributes to your long-term goals.”</em></td>
            </tr>
            <tr>
              <td>That’s “Now!” with an exclamation mark. <strong>It screams at you and typically puts you into a reactive mode.</strong> It has the power to generate a fight-or-flight response. One marked by a defensive, negative, hurried, and narrowly-focused mindset.</td>
              <td>Sometimes important tasks are also urgent, but typically they’re not. <strong>This puts you into a responsive mode.</strong> One marked with calm, rational, and open to new opportunities.</td>
            </tr>
            <tr>
              <td><strong>Examples:</strong> emergencies like a client impacting bug in software, unrealistic deadline tasks set by your boss, fires at work when a server goes down etc.</td>
              <td><strong>Examples:</strong> staying healthy/fit by going to the gym, financial wealth & security investments, career growth education etc.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <h2>Present shock</h2>

        <p>To help you when deciding whether something is Urgent or Important, ask yourself this:</p>
        <p>
          <blockquote>
            <p>“Will it be the end of X if it doesn’t get done today?”</p>
          </blockquote>
        </p>

        <p>Most likely it won’t. As a software engineer, I have seen this urgency far too often. <strong>“Will it be the end of The world if it doesn’t get done today?”</strong>. But yet some of us act like it is. <a href="http://amzn.to/24jU2IJ">Douglas Rushkoff calls it the “present shock”</a>. <strong>“we live in a continuous, always-on ‘now’”” and lose our sense of long-term narrative and direction confusing what is truly important and what merely urgent.</strong> A story we keep telling ourselves to avoid the really difficult question: “Do I actually need to be doing this?”.</p>
      </div>

      <div class="row">
        <h2>The Matrix</h2>

        <p>Dwight Eisenhower’s urgency-importance decision matrix chart below is nicely summarized to help you fight stress and procrastination while working on what’s really important.</p>

        <p class="text-center"><img src="/media/blog/eisenhower-matrix.jpg"></p>

        <p>This decision matrix is embedded inside the GSDfaster mobile app as of version 1.5.7 of GTD, ToDo Lists & Timer by GSDfaster – Get Stuff Done Faster & Be More Productive by Purpleblue.com. So, when you are processing tasks inside GSDfaster mobile app, you will be “hinted” with what to do next based on your selection choices for the Important and Urgent fields (see screenshots below).</p>

        <h3>Important and Urgent fields can take the following combinations:</h3>
        <p>
          <ul>
            <li><strong>Important, but not urgent:</strong> tasks you will schedule to do later. You can use the <a href="/blog/native-calendar-sync/">GSDfaster calendar</a> to schedule tasks for a later date.</li>
            <li><strong>Urgent and important:</strong> tasks you will do immediately. You can use the <a href="/blog/pomodoro-technique/">GSDTimer Technique</a> (aka The Pomodoro Technique) to allocate a block of time to focus on and do it now.</li>
            <li><strong>Not important, not urgent:</strong> tasks that you will do it later. These can be dropped into a future Project bucket.</li>
            <li><strong>Urgent, but not important:</strong> tasks you will delegate to someone else. In GSDfaster you can move those to the Waiting for bucket and/or use the mail option to send the person the task to do.</li>
          </ul>
        </p>
      </div>

      <div class="row">
        <h2>How to Activate this Decision Matrix</h2>

        <div class="col-md-3">
          <p>1. Go to "Buckets" view and click on the cog icon (in the header top left) to open "Settings" view.</p>
          <p>2. Scroll down to "Decision Matrix advisor" and flip the switch to ON (green indicator will show). Dwight Eisenhower's Urgency-Importance Decision Matrix advisor is now enabled.</p>
        </div>
        <div class="col-md-3">
          <img src="/media/screenshots/priority-important-urgent.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <p>3. Now every time you process tasks (shown left) the Important and Urgent flag will trigger advisory information (show right).</p>
          <p>You can read more about Priroty Notes as a tool on What to do next (GTD) <a href="/blog/priority-urgent-vs-important/">here</a>.</p>
        </div>
        <div class="col-md-3">
          <img src="/media/screenshots/eisenhower-matrix-tip.png" class="center-block" width="100%">
        </div>
      </div>

      <div class="row">
        <p>
          <pre>Dwight Eisenhower's Urgency-Importance Decision Matrix is available in GSDfaster <a href="/blog/get-app-version/">app version</a> 1.6.0+</pre>
        </p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/email-share-notes/">&#10094; Share your Notes via Email</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/native-calendar-sync/">Send to Calendar: Native Calendar Sync &#10095;</a></p>
        </div>
      </div>

      <!-- Disqus Comments -->
      <div class="row">
        <hr />
        {% include "block/disqus-comments.html" %}
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}