{% extends 'base.html' %}
{% block page_title %}How to Focus{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/Focus.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>How to Focus</h1>
        <p>
          <blockquote>
            <p>“Lack of direction, not lack of time, is the problem. We all have twenty-four hour days.”</p>
            <footer>Zig Ziglar</footer>
          </blockquote>
        </p>
      </div>

      <div class="row">
        <p>Ask Hacker News: <a href="https://news.ycombinator.com/item?id=6993626">How do you focus?</a> – a question posted on Hacker News. Hacker News is the very popular social news website that caters to programmers and entrepreneurs, delivering content related to computer science and entrepreneurship. Hacker News is ran by Paul Graham from the prominent Incubator Y Combinator located in Mountain View, California.</p>
      </div>

      <div class="row">
        <h2>Why focus?</h2>

        <p>Because without focus you cannot get stuff done. Getting stuff done requires focus. Success in life, whether it is business or personal is achieved when one has focused on something to the end.</p>

        <p>Without focus, one is in a constant state of chaos jumping around from one task to another without actually achieving anything meaningful. Sometimes ones does achieve something but the results are half assed. Crap. Without focus you cannot do stuff properly.</p>

        <p>Lack of focus in our society has a medical name, ADHD. Attention deficit hyperactivity disorder (ADHD) is a problem of not being able to focus, being overactive, not being able control behavior, or a combination of these. Most unfortunate individuals seek medical methods as a quick win forgetting the underlying root cause of this. There are medical exceptions, but focus always begins with a good habit. A habit isn’t a quick win but requires few days to form and over time you will learn to focus better.</p>

        <p><img src="/media/blog/manifesto-focus-297x300.jpg" class="center-block" width="252"></p>

        <h3>Software Engineering requires focus</h3>

        <p>If you are a software engineer you already know the value in focus. Without it you will be a struggling engineer. Coding requires focus. Hours of focus. As a software engineer from an early age, I have learnt the value in constantly adjusting my mental parameters (like driving a car) to make sure I can keep on focusing. But sometimes focus disappears like a pile of smoke. What one to do? Here is how I focus and deal with lack of focus.</p>
      </div>

      <div class="row">
        <h2>How I focus & deal with lack of focus</h2>

        <p>Focus cannot be maintained for long hours without some sort of intervention from stimulants like Caffeine. There is a limit to our biology. I like to use <a href="http://www.theroadtosiliconvalley.com/personal-development/yerba-mate-tea-drink-gods/">Yerba Mate</a> to help with long focus. For me, it works better than tea/coffee. Black tea is also a good source from time to time.</p>

        <p>Once you are focused; <a href="http://www.amazon.com/gp/product/B000FC11JW/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000FC11JW&linkCode=as2&tag=erneseme-20">choose your battles</a>, as mentioned by Peter Drucker in Effective Executive. Actually you should choose your battles well before you begin your session. You goal should be to achieve a state of <a href="http://amzn.to/1WB5VuA">Flow (Mihaly Csikszentmihalyi)</a>. Flow is the mental state of operation in which a person performing an activity is fully immersed in a feeling of energized focus, full involvement, and enjoyment in the process of the activity.</p>

        <p>Once within flow, whenever I get distracted by a thought, an idea or something else that needs to be done I try to remove it from my head by offloading it into a trusted source. This allows me to continue focus on what I’m doing knowing that “later” I can come back to it for review/pick it back up. This is also what the GTD method teaches you. I use the iOS app GSDfaster => Yes! this app on this domain. I initially built this app for myself to solve this problem of focus.</p>

        <p>Sometimes I might hit a day which makes me feel like crap. Maybe due to lack of sleep or something else which demotivated me like a shitty person that got onto my nerves wedging me into a bad mood. It happens to the best of us. It can last few hours if you don’t find a way to get out of it. What works for me is usually a 1 hour walk, bike ride or a gym session. Gym session is the winner here to wake me up both physically and mentally releasing endorphins and “restarting” the brain in a better more focused mood.</p>

        <p>GOTO Line 1.</p>

        <h3>Dealing with distractions</h3>

        <p>I mentioned above distractions. I think this is an important point to mention here. Distractions WILL happen. People that lack empathy and are themselves unable to focus will distract you. Technology is made to distract you. Those notifications. Yap distracting. If you see a consistent pattern find a way to remove those distractions from your life. If you do not, then you will build a bad habit.</p>

        <p>And that is it. It works for me. Give it a shot. But don’t expect it to work immediately. There are no magic bullets. You need to build a habit out of this and you will see that over time you will be a focus ninja!</p>

        <p>Now let me tell you a bit about the app I built to help with focus.</p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/">&#10094; The GTD Knowledge Center</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/psychology-gtd-tools/">The Psychology of Tools in Getting Stuff Done &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-2.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}