{% extends 'base.html' %}
{% block page_title %}Getting Started with GSDfaster{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/FreshNewLook.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        
{% endblock %}

{% block content_body %}
  
  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>Getting Started with GSDfaster</h1>
        <p>
          <blockquote>
            Empty your mind by offloading your thoughts into a trusted source. Achieve Zen.
          </blockquote>
        </p>
      </div>
      
      <div class="row">
        <p><strong>Thank you for choosing GSDfaster. You have made the best decision to invest your time & energy in the right tool to get stuff done faster.</strong></p>
      </div>

      <div class="row">
        <h3>Why</h3>
        <p>GSDfaster is a unique app maintained out of sheer love for productivity. Unlike actual companies that build apps; those come and go. As a user it is hard to invest time and resources into short-lived products. This is not the case with GSDfaster. GSDfaster stands the test of time since it is maintained by an individual, <a href="http://www.ernestsemerda.com/">Ernest Semerda</a> since 2012 for personal productivity reasons. No bottom line revenue drivers. Just passion for getting things done faster.</p>
      </div>
      <div class="row">
        <h3>How</h3>
        <p>Getting started with GSDfaster is simple. <strong>By default the app is configured to run in a minimalistic mode adhering to the GTD method of note taking.</strong> Inside the app's Buckets > Settings you will find a wealth of switches and configurations to extend the app outside the default mode. Please explore those only after you have mastered the 3 simple GTD method outlined next.</p>
      </div>

      <div class="row">
        <h2>Simple steps to achieve Zen</h2>

        <ul class="list-unstyled">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/media/screenshots/buckets.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h3>#1 Collect</h3>

          <p>Collect everything (stuff) that catches your attention. Immediately! No need to enter any extra properties until you are ready to process (Step 2).</p>
        </div>
        <div class="col-md-3">
          <img src="/media/screenshots/control.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h3>#2 Control</h3>

          <p>Gain control over the collected materials by Processing stuff in your Buckets. “Processing” is a means of deciding what to do with notes. Not actually doing. By processing and organizing the items one by one.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/media/screenshots/the-pomodoro-technique.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h3>#3 Focus</h3>

          <p>Do It. Retrieve any notes from your assembled and customizable list of Buckets and execute on them. Use the power of Focus to get stuff done faster.</p>
        </div>
        <div class="col-md-3">
          <img src="/media/screenshots/zen.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h3>Achieve Zen</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-6">&nbsp;</div>
      </div>

      <div class="row">
        <p>PS. Make sure to take advantage of <a href="/blog/gtd-context-location/">GTD Context</a>. Context is similar to a tag with the exception that they are Location specific. This defines where the action can be done, or what equipment you need to perform it. This is especially useful since you would not be buying milk & bread (another to-do) @Work only @Shopping. So anything non @Work is not relevant to your context unless you are at a location more appropriate.</p>

        <p>PPS. <a href="/blog/infinity-save-collect-even-faster/">Infinity mode</a> is off by default. It allows you to keep on adding stuff without having to flip back and forth between view after each add. Turn it on if you want to move faster collecting notes.</p>
      </div>

      <div class="row">
        <p>Happy collecting!</p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/">&#10094; The GTD Knowledge Center</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/gsdfaster-vs-gtdfaster/">GSDfaster vs GTDfaster &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-3.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}