{% extends 'base.html' %}
{% block page_title %}GSDfaster vs GTDfaster – what is the difference?{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/redwoods.jpg');
}
</style>
{% endblock %}


{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>GSDfaster or GTDfaster?</h1>
        <p>
          <blockquote>
            Get <em>Stuff</em> Done Faster or Get <em>Things</em> Done Faster? Which GTD app is right for me?
          </blockquote>
        </p>
      </div>
      
      <div class="row">
        <p>GSDfaster vs GTDfaster – what is the difference? I’m glad you asked. Both apps are GTD focused. However one ends there and the other evolves far far further than just a simple GTD app. Here’s the breakdown and comparison of the 2 apps.</p>
      </div>

      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th width="50%">
                <a href="{{ urls_dict.app_itunes }}" target="_blank">GSDfaster</a>
              </th>
              <th width="50%">
                <a href="{{ urls_dict.app_itunes_gtd }}" target="_blank">GTDfaster</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="{{ urls_dict.app_itunes }}" target="_blank">
                  <img src="/media/blog/logo-gsdfaster-150x150.png">
                </a>
              </td>
              <td>
                <a href="{{ urls_dict.app_itunes_gtd }}" target="_blank">
                  <img src="/media/blog/logo-gtdfaster-150x150.png">
                </a>
              </td>
            </tr>
            <tr>
              <td>Getting <strong>Stuff</strong> Done faster</td>
              <td>Getting <strong>Things</strong> Done faster</td>
            </tr>
            <tr>
              <td>GSDfaster (Get Stuff Done faster) extends the GTD concept with additional productivity features</td>
              <td>GTDfaster (Get Things Done faster) is purely focused on [David Allen’s GTD method]. GTDfaster is a product which purely focuses on notes collection & context processing</td>
            </tr>
            <tr class="active">
              <td><strong>GSDfaster Benefits</strong></td>
              <td><strong>GSDfaster Benefits</strong></td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> Simple work flow and process</td>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> Simple work flow and process</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> Comprehensive features</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> Limited features</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> Lifetime email support. <a href="/about/">Here's Why</a>.</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> No support</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> Continuous updates and developments</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> Lags behind in updates</td>
            </tr>
            <tr class="active">
              <td><strong>GSDfaster Features</strong></td>
              <td><strong>GTDfaster Features</strong></td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> <a href="/blog/pomodoro-technique/">The Pomodoro Technique</a> to help you focus on 1 item a a time utilizing a 25 min (default) timer to get stuff done</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> No Pomodoro Technique</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> <a href="/blog/dwight-eisenhowers-urgency-importance-decision-matrix/">Urgency-importance decision matrix</a> uses Dwight Eisenhower’s popular decision matrix to help you by make better decision what to do with a note you just collected</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> No Urgency-importance decision matrix algorithm</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> <a href="/blog/native-calendar-sync/">Native Calendar Integration</a> pain free integration with your iPhone or iPad native calendar. While many apps try to replicate the iOS calendar without much success GSDfaster integrates tightly so you can also have your dues synced across devices</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> No native calendar integration</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> <a href="/blog/icloud-drive-sync-backup/">Sync between devices</a> & Backup your notes using iCloud Drive. This means you can have your iPad talking to your iPhone and sharing notes.</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> No sync. Local storage only and limited to 1 device</td>
            </tr>
            <tr>
              <td><i class="fa fa-check far-red row-tick" aria-hidden="true"></i> <a href="/blog/apple-watch-gtd-pomodoro/">Apple Watch support</a>. Now you can speak notes, ideas et al to your watch and have them recorded in your iPhone app for later GTD Processing.</td>
              <td><i class="fa fa-times far-red row-cross" aria-hidden="true"></i> No Apple Watch support</td>
            </tr>
            <tr>
              <td>Small 1 Time Investment</td>
              <td>Supported by Annoying Ads</td>
            </tr>
          </tbody>
        </table>

        <p class="text-center">
          <a href="{{ urls_dict.app_itunes }}" target="_blank">
            <img class="button-appstore" src="/media/images/app-store-black-on-color.png" width="200">
          </a>
        </p>
      </div>

      <div class="row">
        <h2>1/2 the price of your morning coffee</h2>

        <p><img class="button-appstore" src="/media/blog/coffee-beans-cut-in-half.jpg" width="20%" align="left"> GSDfaster is a small long term investment while GTDfaster is free, limited and ad supported. Those ads can get annoying at times, so if you like the app please upgrade to GSDfaster. While coffee will give you a hit of productivity and pleasure for 30 mins max, GSDfaster will delight and keep you productive for a lifetime. It is a small investment for a lifetime of productivity goodness.</p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/getting-started-guide/">&#10094; Getting Started with GSDfaster</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/customer-testimonials-dec2015-jan2016/">Customer Testimonials &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-3.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}