{% extends 'base.html' %}
{% block page_title %}GTD Method - David Allen's Getting Things Done®{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/gtd-workflow.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>GTD Method - David Allen's Getting Things Done®</h1>
        <p>
          <blockquote>
            <p>“Your mind is for having ideas, not holding them.”</p>
            <footer>David Allen</footer>
          </blockquote>
        </p>
      </div>

      <div class="row">
        <p><strong>GTD is today a very common acronym which means Getting Things Done.</strong> Getting Things Done was coined by <a style="line-height: 1.5;" href="http://www.davidco.com/" target="_blank">David Allen</a> in his book <a href="http://www.amazon.com/gp/product/B000WH7PKY/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B000WH7PKY&amp;linkCode=as2&amp;tag=erneseme-20" target="_blank">Getting Things Done</a> and rests on the <strong>principle that a person needs to move stuff out of the mind by recording them externally.</strong></p>
      </div>

      <div class="row">
        <h2>What is Stuff?</h2>
        
        <p>David Allen defines “stuff:” anything you have allowed into your psychological or physical world that doesn’t belong where it is, but for which you haven’t yet determined the desired outcome and the next action step. [pg. 17 – Getting Things Done book]. On this blog and within the GSDfaster app you will see the word Stuff used frequently to reference the stuff you have offloaded or plan to offload into a trusted source, the <a href="http://georiot.co/3iEg" target="_blank">GSDfaster app</a>.</p>
      </div>

      <div class="row">
        <h2>GTD Method explained</h2>
        
        <p>The GTD Method David Allen invented is built into the core of the<a title="GTDfaster - The faster way of getting things done - gtdfaster.com" href="http://www.gtdfaster.com/"> GSDfaster app</a>. To systematically stick to these fundamental principles here are the steps you should be aware of when using the app to make sure you are effective in following the GTD method.</p>

        <h3>Collect bucket</h3>
        <ul>
            <li><strong>Collect everything (stuff) that catches your attention into GSDfaster app.</strong></li>
            <li>Remember that “<strong>Stuff</strong>” is a catchall word, which can refer to an email, something at the back of your mind, a note, a voice-mail, a scrap from a newspaper, etc., i.e. any item that has been collected.</li>
        </ul>

        <h2>Process bucket</h2>
        <ul>
            <li><strong>To gain control over the collected materials, you need to empty collected items regularly.</strong></li>
            <li><strong>Emptying means deciding what to do with</strong>—not actually doing— by processing and organizing the items one by one.</li>
            <li>So at the end of the day or in free time open the GSDfaster app and click on Process button in the footer.</li>
        </ul>

        <h3>Processing a bucket = strict workflow</h3>
        <p>
        <strong>1.</strong> Start at the top.<br />
        <strong>2.</strong> Deal with one item at a time.<br />
        <strong>3.</strong> Never put anything back into where you 1st collected it.<br />
        <strong>4.</strong> If an item requires action:<br />
        <ul>
            <li>Do it (if it takes less than two minutes), OR</li>
            <li>Delegate it, OR</li>
            <li>Defer it.</li>
        </ul>
        <strong>5.</strong> If an item does not require action:<br />
        <ul>
            <li>File it for reference, OR</li>
            <li>Throw it away, OR</li>
            <li>Incubate it for possible action later.</li>
        </ul>

        <p><strong>If it takes under two minutes to do something, it should be done immediately. The two-minute rule is a guideline, encompassing roughly the time it would take to formally defer the action.</strong></p>

        <h2>Example</h2>
        <p>The item “plane tickets for Sydney” was initially in the Project Plan “Travel to Sydney”, reminding you to order the tickets; now you are Waiting for them to arrive by post; if they don’t arrive, it will become a Next Action to call the company about the tickets; after you have used them, you may store the tickets as a Reference, so that later you could potentially use them as proof of expenses made.</p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/">&#10094; The GTD Knowledge Center</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/focus/">How to Focus &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-2.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}