{% extends 'base.html' %}
{% block page_title %}Infinity save: Collect even Faster{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/o-INFINITY-facebook.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>Infinity save: Collect even Faster</h1>
        <p>
          <blockquote>
            <p>“No limits, move faster!”</p>
            <footer>Ernest Semerda</footer>
          </blockquote>
        </p>
      </div>
      
      <div class="row">
        <p>You can now collect even faster with Infinity save! When this feature was 1st requested, an ability to keep on adding stuff without having to flip back and forth between views, I personally did not think much of it. But as I heard more of our loyal users feedback and examples how they would use it, it became apparent something had to be done. So it has been done folks.</p>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h2>No limits, move faster!</h2>

          <p><strong>I call it "infinity save" because just like the abstract concept of infinity, this feature allows you to keep on adding stuff non stop without any limit.</strong> When enabled, every time you click on the “Save” button to add your new stuff the screen will flash in green to let you know it was saved and the view goes back to it’s ready state for you to enter more stuff. Very cool. I personally have it now turned on because I have fallen in love with this great feature. Thank you to all that have made this possible.</p>

          <p><strong>As per the tradition with GSDfaster, infinity save is a feature that is turned off by default.</strong> This is obviously to stop new features from cluttering an already great app. If you want it turned on just press the slider next to the circled arrows (as per screenshot below) and it will turn green and tell you that infinity save is enabled.</p>

          <p>Easy peasy?</p>
        </div>
        <div class="col-md-4">
          <img src="/media/screenshots/collect-infinity-save.png" class="center-block" width="100%">
        </div>
      </div>

      <div class="row">
        <p>
          <pre>Share your Notes via Email is available in GSDfaster <a href="/blog/get-app-version/">app version</a> 1.2.0+</pre>
        </p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/native-calendar-sync/">&#10094; Send to Calendar: Native Calendar Sync</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/">The GTD Knowledge Center &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}