{% extends 'base.html' %}
{% block page_title %}How to Focus using GSDTimer, The Pomodoro Technique{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-blog.css">
<style>
#blog-header {
    background-image: url('/media/blog/pomodoro-clock-tomato_w.jpg');
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

{% endblock %}

{% block content_body %}

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <h1>The Pomodoro Technique</h1>
        <p>
          <blockquote>
            <p>“Attention is like energy in that without it no work can be done, and in doing work is dissipated. We create ourselves by how we use this energy. Memories, thoughts and feelings are all shaped by how use it. And it is an energy under control, to do with as we please; hence attention is our most important tool in the task of improving the quality of experience.”</p>
            <footer>Mihaly Csikszentmihalyi, Flow: The Psychology of Optimal Experience</footer>
          </blockquote>
        </p>
      </div>

      <div class="row">
        <p>In hindsight, I used to be a wreck! I had a dozen ideas, 30 Chrome tabs open and phone beeping every time a message arrived or someone did something on my Facebook account. At the end of the day I was exhausted. Energy depleted. All I could do is watch numbing TV and hope the next day is going to be less crazy. Well the next day was the same. And the following.. until one day I can across a book called <a href="http://amzn.to/1U2LiUE">Flow by Mihály Csíkszentmihályi</a>.</p>

        <p>What I learnt is that <strong>Productive individuals are known for their ability to focus on a given task and getting it done fast. They get into what Mihály Csíkszentmihályi calls Flow</strong>. A state in which a person performing an activity is fully immersed in a feeling of energized focus, full involvement, and enjoyment in the process of the activity. Unlike the average Joe who is disrupted by emails, constant phone beeps and a host of other non value adding interruptions. Hey I was that Joe!</p>

        <p>So I needed to urgently make some changes.</p>
      </div>

      <div class="row">
        <h2>GSDTimer, a Pomodoro Technique inspired feature</h2>

        <p>The GSDTimer is based on the famous Pomodoro Technique, a time management method developed by Francesco Cirillo in the late 1980s. The pomodoro technique uses a timer (GSDTimer in this case) to break down work into focused work intervals (also known as “pomodori”) of 25 minutes in length, separated by short breaks of rest. Pomodori is the plural of the Italian word pomodoro for “tomato”. The method is based on the idea that frequent breaks can improve mental agility.</p>

        <p>This means once your get GSDfaster, you also have a pomodoro timer app for your iPhone. Free! No upgrades required. It’s part of the GTD method inside GSDfaster available on the iTunes store today.</p>

        <p>So how do you start The Pomodoro Technique timer aka GSDTimer?</p>

        <p><img src="/media/blog/pomodoro-counter-empty.png" class="center-block" width="50" align="left"> The red tomato icon (shown here) is your path to The Pomodoro Technique. This icon will be available in the top right navigation header of your Task detail view. See screenshots below.</p>
      </div>

      <div class="row">
        <h2>Multitasking is a Human Delusion</h2>

        <p><a href="http://www.npr.org/templates/story/story.php?storyId=95256794">Multitasking is a Human Delusion</a>. <strong>Counter to common belief our brains do not multi task.</strong> You cannot do two cognitively complicated tasks at once. Our brains context switch in a linear fashion. If you need more convincing than check this blog post on <a href="http://blog.bufferapp.com/what-multitasking-does-to-our-brains">what multitasking does to our brains</a> and <a href="http://www.entrepreneur.com/article/224943">The Truth About Multitasking</a>.</p>

        <p>So if we are linear thinkers then we must also work in a linear fashion. Having a tool that enforces this natural way of getting stuff done should bring clarity and allow you to be more productive then ever before. Get you into that state of Flow. I hope you can now see how the Pomodoro Technique can be your habit enforcer. Especially when you are getting stuff done in GSDfaster. The collection of ideas, processing in GTD fashion and doing using the pomodoro technique for your iOS mobile phone is productivity’s holy grail.</p>
      </div>

      <div class="row">
        <h2>How to Activate GSDTimer, The Pomodoro Technique timer</h2>

        <div class="col-md-4">
          <img src="/media/screenshots/settings-the-pomodoro-technique-arrow.png" class="center-block" width="100%">
        </div>
        <div class="col-md-8">
          <p><strong>1.</strong> Go to "Buckets" view and click on the cog icon (in the header top left) to open "Settings" view.</p>

          <p><strong>2.</strong> Scroll down to "Pomodoro Technique".</p>

          <p><strong>3.</strong> Set a timer duration that suits your working style. By default it is set to 25 mins. However you can change this anytime. Also set the type of alarm you want to hear at the end of the session. My favorite is the Tibetan Singing Bowl.</p>

          <p><strong>4.</strong> Go to your stuff you notes (screenshot below). This can be in any of the buckets or in the process bucket. Click on the note to view more detail and now notice the red tomato <img src="/media/blog/pomodoro-counter-empty.png" width="32"> in the header (top right). Clicking the tomato opens GSDTimer window, the The Pomodoro Technique timer.</p>

          <p><strong>5.</strong> Press “Start” button to begin the counter. The 25:00 visible in the far right screenshot below is the default 25 minutes. Once you begin the timer this number will be counting down to 0. When it hits 0, an alarm will ring and the phone will vibrate to let you know time is up. You will also notice that the Start button when pressed changes to “Stop” button to allow you to stop the timer anytime.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img src="/media/screenshots/edit-start-pomodoro-arrow.png" class="center-block" width="100%">
        </div>
        <div class="col-md-4">
          <img src="/media/screenshots/the-pomodoro-technique.png" class="center-block" width="100%">
        </div>
        <div class="col-md-4">
          <p>That’s it, simple!</p>

          <p><strong>TIP:</strong> You can press the X button top left of the GSDTimer window in Step 3 to close the GSDTimer window. This will allow you to see the task detail beneath it. Pressing the X will not stop the counter. If you click the tomato icon again you will see the timer still counting down. We did it this way so you can always see the detail of the task you are working on without impacting your 25 min focus.</p>
        </div>
      </div>

      <div class="row">
        <p>So how has following the simple yet effective pomodoro technique changed my life? I am far better at getting stuff done. To the end. No longer leaving tasks half done. I feel focused when I work on stuff. Getting into the state of Flow is an amazing experience – time moves fast and I feel energized. Furthermore, at the end of the day I still have enough energy to read a book and spend time with those that I love and care about.</p>

        <h3>Recommended books on The Pomodoro Technique</h3>
        <p>
          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ernsemblo-20&marketplace=amazon&region=US&placement=1445219948&asins=1445219948&linkId=494a200d351cf40be7b639d77993b444&show_border=true&link_opens_in_new_window=true"></iframe>

          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ernsemblo-20&marketplace=amazon&region=US&placement=B011PZFPFI&asins=B011PZFPFI&linkId=03d302d01c4c8fc2fb0a2f5936fe2f77&show_border=true&link_opens_in_new_window=true"></iframe>
        </p>
      </div>

      {% include "/block/signature-share.html" %}

      <div class="row">
        <div class="col-md-6">
          <p><a href="/blog/psychology-gtd-tools/">&#10094; The Psychology of Tools in Getting Stuff Done</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="/blog/jz-rating-language-advisor-aglorithm/">JZ Rating - Clarity in your Next Actions &#10095;</a></p>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      {% include "block/nav-list-2.html" %}

    </div>
  </div>

{% endblock %}

{% block content_newsletter %}
{% endblock %}