{% extends 'base.html' %}
{% block page_title %}Get Stuff Done faster and be more productive{% endblock %}

{% block page_meta %}
<link rel="stylesheet" href="/media/css/gsdfaster-testimonials.css">
<style>
.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
</style>
{% endblock %}

{% block content_jumbotron %}

        <div class="row">
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">&nbsp;</div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h1>Get Stuff Done Faster & Be More Productive</h1>
            
            <p>GSDfaster is an app (a distributed cognition tool) which you can trust to empty your mind, gain control & stay focused.</p>

            <p class="text-center visible-lg-block">
              <br />
              <a href="{{ urls_dict.app_itunes }}" target="_blank">
                <img src="/media/images/zen-with-text.png" width="200">
              </a>
            </p>
            <!--p class="text-center">
              <a href="{{ urls_dict.app_itunes }}" target="_blank">
                <img class="button-appstore" src="/media/images/app-store-black-on-color.png" width="200">
              </a>
            </p-->
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
              <!--img src="/media/images/gsdfaster-marketing.png" width="252"-->

              <div class="row">
                <div class="col-xs-10 col-xs-offset-1" id="movie-section">    
                  <img id="iphone-frame" src="/media/images/iphone-container-black-transparent.png" alt="iPhone GSDfaster Video Demo Frame">
                  <div id="iphone-content">
                    <iframe src="https://www.youtube.com/embed/cth-5fM-2Vg?rel=0;showinfo=0;cc_load_policy=0;modestbranding=0;vq=hd720" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

          </div>
          <div class="col-md-1"></div>
        </div>
        
{% endblock %}

{% block content_body %}

      <div class="center-block">
        <h2 class="text-center">Free your mind..</h2>

        <blockquote class="text-center">
          <p>"Most productive people are those with nothing in their head."</p>
          <footer>David Allen <cite title="GTD - Getting Things Done, Do Lectures">Do Lectures, Getting Things Done</cite></footer>
        </blockquote>
      </div>

      <!--div class="row">
        <div class="col-md-3">
          <h2 class="text-center">Collect</h2>
          <img src="/media/screenshots/buckets.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h2 class="text-center">Control</h2>
          <img src="/media/screenshots/control.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h2 class="text-center">Focus</h2>
          <img src="/media/screenshots/the-pomodoro-technique.png" class="center-block" width="100%">
        </div>
        <div class="col-md-3">
          <h2 class="text-center">Achieve Zen</h2>
          <img src="/media/screenshots/zen.png" class="center-block" width="100%">
        </div>
      </div-->

      <div class="row">
        <!--p class="text-center">GTD (Getting Things Done) is a simple method. It is about Making the Right Decisions & Who Owns it. 3 Simple steps:</p-->
        <div class="col-md-1">
          &nbsp;
        </div>
        <div class="col-md-3" style="margin-top:50px;">
          <h3 class="text-center">Collect</h3>
          <img src="/media/screenshots/buckets-raw.png" class="center-block img-thumbnail" width="100%">
        </div>
        <div class="col-md-4">
          <h3 class="text-center">Achieve Zen</h3>
          <img src="/media/screenshots/zen.png" class="center-block" width="80%">
        </div>
        <div class="col-md-3" style="margin-top:50px;">
          <h3 class="text-center">Process</h3>
          <img src="/media/screenshots/edit-note-raw.png" class="center-block img-thumbnail" width="100%">
        </div>
        <div class="col-md-1">
          &nbsp;
        </div>
      </div>

      <!--div class="page-header">
        <h3 class="text-center">iCloud to backup & sync your data across iOS devices</h3>
        <p class="text-center">
          <a href="/blog/icloud-drive-sync-backup/" target="_blank">
            <img src="/media/images/icloud-icon-3col.png" width="200">
          </a>
        </p>
        <p class="text-center"><a href="/about/#privacymatters">Why privacy matters</a>;<br />incognito product development.</p>
      </div-->

      <div class="row page-header">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-10">
          <h3 class="text-center">Features & Benefits</h3>

          <table class="table table-hover" width="100%">
          <tbody>
            <tr>
              <td width="50%">
                <img src="/media/images/gtd-with-slogan-logo.png" width="50" align="left">
                <a href="/blog/gtd-method-getting-things-done/">GTD Method</a> - David Allen's Getting Things Done® Methodology
              </td>
              <td width="50%">
                <i class="fa fa-2x fa-signal fa-fw" aria-hidden="true" align="left"></i> 
                <a href="/blog/jz-rating-language-advisor-aglorithm/">JZ Rating</a> - Gain Clarity in your Next Actions (new algorithm)
              </td>
            </tr>
            <tr>
              <td>
                <img src="/media/blog/pomodoro-counter-empty.png" width="50" align="left">
                <a href="/blog/pomodoro-technique/">The Pomodoro Technique</a> - 25 min Timer to Focus on 1 todo at a time
              </td>
              <td>
                <img src="/media/images/time-management-matrix.png" width="50" align="left">
                <a href="/blog/dwight-eisenhowers-urgency-importance-decision-matrix/">Dwight Eisenhower's Urgency-Importance Decision Matrix</a> - What to do Next advisor
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-2x fa-map-signs fa-fw" aria-hidden="true"></i> 
                <a href="/blog/gtd-context-location/">GTD Context</a> - Focus on what matters now in the right place
              </td>
              <td>
                <img src="/media/images/infinity-logo.png" width="50" align="left">
                <a href="/blog/infinity-save-collect-even-faster/">Infinity Save</a> - Collect ideas faster without distraction
              </td>
            </tr>
          </tbody>
          </table>

        </div>
        <div class="col-md-1">&nbsp;</div>
      </div>

      <div class="row page-header">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
          <h3>Start here..</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i> 
              <a href="/blog/getting-started-guide/">Getting Started with GSDfaster</a>
            </li>
            <li class="list-group-item">
              <i class="fa fa-mobile-phone fa-fw" aria-hidden="true"></i> 
              <a href="/blog/gsdfaster-vs-gtdfaster/">GSDfaster vs GTDfaster – which one is right for you?</a>
            </li>
            <li class="list-group-item">
              <i class="fa fa-bolt fa-fw" aria-hidden="true"></i> 
              <a href="/about/">Founder's Story</a>
            </li>
          </ul>

          <p class="text-center">
            <a href="{{ urls_dict.app_itunes }}" target="_blank">
              <img class="button-appstore" src="/media/images/app-store-black-on-color.png" width="200">
            </a>
          </p>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>

      <div class="center-block">
        <h3 class="text-center">Customer Testimonials</h3>
      </div>
      <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-5">
          <div id="tb-testimonial" class="testimonial testimonial-default">
            <div class="testimonial-section">
              Juggling being a mom and running a business has its challenges. The GTD method has helped me juggle those responsibilities. But like Ernest I needed a tool I could trust to clear my mind and set reminders. GSDfaster has filled that need. I am much more organized and at ease to begin the daily grind.
            </div>
            <div class="testimonial-desc">
              <img src="/media/headshots/urszula-semerda.jpg" alt="Urszula S" />
              <div class="testimonial-writer">
                <div class="testimonial-writer-name">Urszula S</div>
                <div class="testimonial-writer-designation">Founder / OT</div>
                <a href="http://www.sensorylifestyle.com/" class="testimonial-writer-company">SensoryLifestyle</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="tb-testimonial" class="testimonial testimonial-default">
            <div class="testimonial-section">
              Too many apps today claim to be GTD but fail to live up to expectations. GSDfaster is the only app which I have found to live up to expectation and over deliver. Really digging the buckets and prioritization of notes using Dwight Eisenhower's urgency-importance decision matrix. Keep up the awesome work folks!
            </div>
            <div class="testimonial-desc">
              <img src="/media/headshots/itunes.jpg" alt="iTunes Apps" />
              <div class="testimonial-writer">
                <div class="testimonial-writer-name">Harris G</div>
                <div class="testimonial-writer-designation">Online</div>
                <a href="{{ urls_dict.app_itunes }}" class="testimonial-writer-company">App Store</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-5">
          <div id="tb-testimonial" class="testimonial testimonial-default">
            <div class="testimonial-section">
              Being organized is my forte. It's a part of my professional career and as a mom. GSDfaster has helped me stay organized and always on the ball with my todos in different context like work, home et al. I Love it!!
            </div>
            <div class="testimonial-desc">
              <img src="/media/headshots/beata-morris.jpg" alt="Beata M" />
              <div class="testimonial-writer">
                <div class="testimonial-writer-name">Beata M</div>
                <div class="testimonial-writer-designation">Executive Assistant</div>
                <a href="{{ urls_dict.app_itunes }}" class="testimonial-writer-company">Australian Hearing Pty Ltd</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="tb-testimonial" class="testimonial testimonial-default">
            <div class="testimonial-section">
              Easy to collect Notes, 👊 Fast to Process Stuff 👊👊 in a GTD manner 👏 and just an awesome all round way of getting thing done faster! I'm more Productive then before! The inbuilt 🍅🍅🍅 Pomodoro Timer helps with focus. I wish I found this app sooner!
            </div>
            <div class="testimonial-desc">
              <img src="/media/headshots/christopher-mammone.jpg" alt="Christopher M" />
              <div class="testimonial-writer">
                <div class="testimonial-writer-name">Christopher M</div>
                <div class="testimonial-writer-designation">VP Investor Relations</div>
                <a href="http://www.quotient.com/" class="testimonial-writer-company">Verifone Inc.</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
      </div>

      <div class="row page-header">
        <p class="text-center">
          <i class="fa fa-star fa-fw text-center" aria-hidden="true"></i> <i class="fa fa-star fa-fw text-center" aria-hidden="true"></i> <i class="fa fa-star fa-fw text-center" aria-hidden="true"></i> <i class="fa fa-star fa-fw text-center" aria-hidden="true"></i> <i class="fa fa-star fa-fw text-center" aria-hidden="true"></i> 
          <a href="/blog/customer-testimonials-dec2015-jan2016/">read more customer testimonials &#10095;</a>
        </p>
      </div>

      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
          <h2 class="text-center">GSDfaster on your Apple Watch</h2>
          <p class="text-center">
            <a href="{{ urls_dict.app_itunes }}" target="_blank">
              <img src="/media/images/gsdfaster-apple-watch.jpg" width="100%" class="img-thumbnail">
            </a>
          </p>
        <div class="col-md-3">&nbsp;</div>
      </div>

{% endblock %}

{% block disqus_comments %}
{% endblock %}