  <ul class="list-group">
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/getting-started-guide/">Getting Started with GSDfaster</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/gsdfaster-vs-gtdfaster/">GSDfaster vs GTDfaster – what is the difference?</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/customer-testimonials-dec2015-jan2016/">Latest Customer Testimonials</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/get-app-version/">What GSDfaster app version are you running?</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/apple-watch-gtd-pomodoro/">Watch - GTD & Pomodoro on your wrist</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/your-new-superpowers/">Your NEW Superpowers</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
      <a href="/blog/reporting-bugs/">Reporting Bugs</a>
    </li>
  </ul>