<ul class="list-group">
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/priority-urgent-vs-important/">Notes Priority: What to do Next?</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/gtd-context-location/">Context in GTD</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/touchid-fingerprint-identity/">Touch ID</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/icloud-drive-sync-backup/">iCloud Sync between devices</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/email-share-notes/">Share your Notes via Email</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/dwight-eisenhowers-urgency-importance-decision-matrix/">Dwight Eisenhower's Urgency-Importance Decision Matrix</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/native-calendar-sync/">Send to Calendar: Native Calendar Sync</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/infinity-save-collect-even-faster/">Infinity Save: Collect even Faster</a>
  </li>
</ul>