
{% include "block/nav-list-random-notes.html" %}

<blockquote>
  <h4>Recommended Books</h4>

  <p class="text-center">
    <a href="https://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563/ref=as_li_ss_il?ie=UTF8&keywords=getting%20things%20done&qid=1464764145&ref_=sr_1_1&sr=8-1&linkCode=li3&tag=ernsemblo-20&linkId=e0d80da27e63323d2692ba6f17b1300b" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0143126563&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=ernsemblo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ernsemblo-20&l=li3&o=1&a=0143126563" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </p>
  <p class="text-center">
    <a href="https://www.amazon.com/Making-All-Work-Winning-Business/dp/0143116622/ref=as_li_ss_il?ie=UTF8&keywords=making%20it%20all%20work&qid=1464764509&ref_=sr_1_1&sr=8-1&linkCode=li3&tag=ernsemblo-20&linkId=98c3c73110edff34c368f9e4259c2a45" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0143116622&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=ernsemblo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ernsemblo-20&l=li3&o=1&a=0143116622" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </p>
</blockquote>

<blockquote>
  <h4>Recommended Websites</h4>

  <ul class="list-group">
    <li class="list-group-item">
        <a href="http://www.sensorylifestyle.com/#gsdfaster">SensoryLifestyle.com</a>
    </li>
    <li class="list-group-item">
        <a href="http://www.theroadtosiliconvalley.com/#gsdfaster">TheRoadToSiliconValley</a>
    </li>
  </ul>
</blockquote>
