<ul class="list-group">
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/gtd-method-getting-things-done/">GTD Method - David Allen's Getting Things Done®</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/focus/">How to Focus</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/psychology-gtd-tools/">The Psychology of Tools in Getting Stuff Done</a>
  </li>
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/pomodoro-technique/">The Pomodoro Technique</a>
  </li>
  <!--li class="list-group-item">
    <i class="fa fa-book" aria-hidden="true"></i> 
    <a href="/blog/reaching-zen/">Reaching Zen</a>
  </li-->
  <li class="list-group-item">
    <i class="fa fa-book fa-fw" aria-hidden="true"></i> 
    <a href="/blog/jz-rating-language-advisor-aglorithm/">JZ Rating - Clarity in your Next Actions</a>
  </li>
</ul>