      <!-- Signature + Tweet Share -->
      <div class="row">
        <div class="col-md-6">
          <blockquote>
            <footer><a href="http://www.ernestsemerda.com/">Ernest Semerda</a> <cite title="GTD dude">founder of GSDfaster</cite>
            </footer>
          </blockquote>
        </div>
        <div class="col-md-6">
          <p class="pull-right"><a href="https://twitter.com/share" class="twitter-share-button" data-via="gsdfaster" data-size="large" data-hashtags="gtd">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        </div>
      </div>