<a class="twitter-timeline"  href="https://twitter.com/gsdfaster" data-widget-id="737903029731655680">Tweets by @gsdfaster</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!--div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    {% include "block/twitter-timeline.html" %}
  </div>
</div-->